*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.section1{
    width: 500px;
    height: 500px;
    border: 2px solid orange;
}

.article1{
    width: 20%;
    height: 250px;
    background-color: lightgreen;
    display:inline-block;
}

.article2{
    width: 250px;
    height: 200px;
    margin:5px;
    padding:4px;
    border:1px solid red;
    background-color: yellow;
    display:inline-block;
}

label{
    display:inline-block;
    border:1px solid blue;
}