li:first-child{
    color:red;
    text-decoration:underline;
}

li:nth-child(3){
    color:blue;
    text-decoration:underline;
}

li:last-child{
    color:green;
}

#table1 tbody tr:nth-child(odd){
    background-color: lightblue;
}

#table1 tbody tr:nth-child(even){
    background-color:salmon
}

#table1 thead tr th:nth-of-type(1){
    background-color:red;
    color:white;
}

p:not(#excepcion){
    background-color: seagreen;
}

input[type="text"]{
    border-radius: 5px;
    background-color: turquoise;
}

button:hover{
    background-color: aqua;
    color: blanchedalmond;
}

/*input[type:"number"::placeholder]{
}*/