@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600&display=swap');

:root{
    --ancho-maximo: 1440px;
    --color-Dark-Blue: hsl(228, 39%, 23%);
    --color-Bright-Red: hsl(12, 88%, 59%);
    --color-Vary-Light-Gray: hsl(0, 0%, 98%);
}

*{
margin:0;
box-sizing:border-box;
padding:0;
}

body{
    font-family: "Be Vietnam",sans-serif;
}

.header1{
    max-width: var(--ancho-maximo);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px
}

.header__list{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.header__link{
    text-decoration: none;
    color:var(--color-Dark-Blue);
    font-weight: 700;
}

.main{
    max-width:var(--ancho-maximo);
    margin:0 auto;
}

.fila{
    display: flex;
    flex-wrap: wrap;
}

.columna{
    flex:50%;
    max-width: 50%;
}

.main__banner{
    max-width: 100%;
}

.medias{
    position: relative;
    margin-bottom: 2rem;
}

.media__number{
position: absolute;
background-color: var(--color-Bright-Red);  
color: white;
height: 2rem;
width: 3rem;

display: flex;
justify-content: center;
align-items: center;
border-radius: 1rem;
}

.media__title{
    padding-left: 4rem;
}

.media__text{
    margin-top: 1rem;
    padding-left: 4rem;
}

.comments__title{
    text-align: center;
    margin-bottom: 3rem;
}

.comments__container{
    display: flex;
}

.comment{
    flex:1;
    padding:1rem;
}

.comment__box{
    background-color:#eee;
    height: 100%;
    text-align: center;
    border-radius: 3px;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.comment__img{
    text-align: center;
}

.comment__img img{
    width: 4rem;
    height: 4rem;
    transform: translate(0, -50%);
}

@media screen and(max-width: 1440px){
    body{
        padding:0 1.5rem;
    }
}

@media screen and(max-width: 768px){
    .columna{
        flex: 100%;
        max-width: 100%;
    }
}




